/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 220px;
  padding-top: 70px;


    font-family: 'Open Sans', sans-serif;


}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 220px;
  background-color: #333;
  color:#efefef;
  padding: 30px 0;
}

@media only screen and (max-width:768px)
{
	body{margin-bottom: 400px;}
	.footer{height:400px;}
}

.footer a
{
	color:#00ff00;
}

.footer a:hover
{
	color:#ff6600;
}

.features .glyphicon
{
	font-size:32px;
}

.btn-lg
{
	padding:14px 20px;
	margin-right: 20px;
}

.lead
{
	color:#555;
}

.navbar
{
  background-color:#F7B3DA;
}

.navbar a{
  color:#ff6600;
}

.navbar a:hover{
  color:#fff;
}

.well
{
	border-color: #F7B3DA;
  background-color: transparent;
}

.container
{
	max-width:960px;
}

.nav>li>a:focus, .nav>li>a:hover,
.nav .open>a, .nav .open>a:focus,
.nav .open>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover
{
  background-color: #00ff00;
  color:#fff;
  }

  .navbar-toggle .icon-bar
  {
    background-color: #000000;
  }

  @media only screen and (max-width:768px)
{
  .dropdown-menu>li>a{
    color:red;
  }
}

.about .fa-windows{
  font-size: 64px;
  color:blue;
}

.meta
{
  margin-bottom: 1em;
  color:#777;
}

.meta li
{
  border-right: 1px solid #ddd;
}

.meta li:last-child
{
  border-right:none;
}

.posts h1 a
{
  color:#ddd;

}

